.grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

.controls {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
}

.message {
    margin: 1rem;
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
