section {
    width: 100%;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

@media (min-width: 768px) {
    section {
        grid-template-columns: repeat(2, 1fr);
    }
}
